html,
body,
arcgis-map{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.geocode-input-container {
    display: flex;
    justify-content: start;
    width: 100% ;
}

#search-input {
    width: 100%;
}

calcite-panel {
    --calcite-panel-content-space: 10px;
}

calcite-shell-panel {
    --calcite-shell-panel-width: 33vw
}